/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/08/2015, 01:25:18
    Author     : LucasESilsa
*/
            .bgTopo{
                background-color: #eee;
                background-color: rgba(86,61,124,.15);
                border: 1px solid #ddd;
                border: 1px solid rgba(86,61,124,.2);
            }

            .row{
            padding-top: 50px;    
            }
            
            h3{
                float:left;
            }

            .right{
                float:right;
                padding-top: 20px;
            }

            .line{
                border: 1px solid #ddd;
                padding-top: 10px; 
            }
            